@CHARSET "UTF-8";

.skin-blue .main-header .sidebar-toggle {
    background-color: #3c8dbc;
}

.skin-blue .main-header .logo {
    background-color: #3c8dbc;
}

.skin-blue .main-header .logo:hover{
    background-color: #3c8dbc;
}
